.header {
    text-align: center;
    padding: $spacing-xl $spacing-lg;
    border-bottom: 1px solid $color-border;
    background-color: $color-background;
    max-width: $container-width;
    margin: 0 auto;
    width: 100%;

    &__name {
        width: 100%;
        max-width: $container-width;
        margin: 0 auto $spacing-xs;
        font-size: $font-size-h1;
        color: $color-primary;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }

    &__title {
        font-size: $font-size-base;
        color: $color-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}